.service-section {
    height: 100vh;
    margin-bottom: 100px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 75vw;
    margin: auto;
}
.services-title h1{
    text-align: center;
    margin-top: 43px;
    margin-left: 23px;
    margin-right: 23px;;
    font-size: 2.3rem;
    text-shadow: 0 0 10px rgba(255,215,0,1), 0 0 20px rgba(155,165,0,1);
    font-size: 3.6rem;
}

.services-title p{
    color: yellow;
    text-align: center;
    margin-bottom: 43px;
}

.service  h1{
    margin-bottom: 10px;
    background-image: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


}



.service {
    width: 200px;
    height: 150px;
    margin: 25px 24px;
    /* padding: 45px 18px; */
    padding: 50px;
    border: 1px solid rgb(205, 12, 205);
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer; /* Change cursor to pointer */
}

.description-area {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000; /* Ensure it's on top */
}

.close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.close-button:hover {
    background-color: darkred; /* Darker red on hover */
}

.service:hover{
    background: black;
    color: white;

}


.s-1{
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;


}


.s-1::before{
    content: '';
    position: absolute;
    background-image: url(assets/p2.jpg) ;
    background-size: cover;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position:center ;
    opacity: 0.6;
    z-index: -1;
 

}

.s-1:hover{
    opacity: 0.8;
    transform: scale(1.05);

}


.s-2{
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;


}


.s-2::before{
    content: '';
    position: absolute;
    background-image: url(assets/p4.jpg) ;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position:center ;
    opacity: 0.6;
    z-index: -1;
 

}


.s-2:hover{
    opacity: 0.8;
    transform: scale(1.05);
    gap: 5px;

}

.s-3{
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;


}


.s-3::before{
    content: '';
    position: absolute;
    background-image: url(assets/p4.jpg) ;
    background-size: cover;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position:center ;
    opacity: 0.6;
    z-index: -1;
 

}

.s-3:hover{
    opacity: 0.8;
    transform: scale(1.05);

}

.s-4{
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;


}


.s-4::before{
    content: '';
    position: absolute;
    background-image: url(assets/p6.jpg) ;
    background-size: cover;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position:center ;
    opacity: 0.4;
    z-index: -1;
 

}

.s-4:hover{
    opacity: 0.8;
    transform: scale(1.05);

}

.s-5{
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;


}


.s-5::before{
    content: '';
    position: absolute;
    background-image: url(assets/p7.jpg) ;
    background-size: cover;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position:center ;
    opacity: 0.6;
    z-index: -1;
 

}

.s-5:hover{
    opacity: 0.8;
    transform: scale(1.05);

}

.s-6{
    position: relative;
    z-index: 1;
    transition: transform 0.4s ease;

}


.s-6::before{
    content: '';
    position: absolute;
    background-image: url(assets/p3.jpg) ;
    background-size: cover;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position:center ;
    opacity: 0.4;
    z-index: -1;
 

}

.s-6:hover{
    opacity: 0.8;
    transform: scale(1.05);

}